html {
  scroll-behavior: smooth;
}
@font-face {
font-family: Colorist;
src: url('../fonts/CSTM Xprmntl┬а01-Regular-Trial.ttf');
font-weight: normal;
font-style: normal;

}
@font-face {
font-family: main;
src: url('../fonts/Formular-Light.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: main_b;
src: url('../fonts/Formular-Bold.otf');
font-weight: normal;
font-style: normal;
}
* {
  box-sizing: border-box;
}
h1{
  font-family: Colorist;
  font-size: 90px;
  line-height: 80px;
  color: #FFE042;
}
h2 {
  font-family: Colorist;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFE042;
}
p {
  font-family: main;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #FFE042;
}
body {
  width: 100%;
  background-color: #75B8FF;
}

/* ГЛАВНАЯ */

form {
  color: #FFE143;
}
input[type="text"] {
  display: block;
  width: 423px;
  height: 68px;
  margin: 24px auto;
  border: 3px solid #FFE143;
  background: none;
  font-family: main;
  font-size: 24px;
  line-height: 34px;
  padding: 0 30px;
  color: #FFE143;
}
.fourth hr {
  width: 1350px;
  border: none;
  border-bottom: 4px solid #FFE143;
}
::placeholder {
  color: #FFE143;
  font-size: 24px;
}
.button {
  display: block;
  width: 423px;
  height: 68px;
  margin: 90px auto;
  margin-bottom: 54px;
  padding: 15px;
  background: #FFE143;
  font-family: main_b;
  font-size: 28px;
  line-height: 34px;
  color: #FF5C29;
  border-radius: 34px;
  cursor: pointer;
  transition: .2s;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background: #75B8FF;
  transition: .2s;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #75B8FF;
  z-index: 10;
}
.logo {
  font-family: Colorist;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: white;
  cursor: pointer;
  margin: 8px;
}
.head_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding-top: 15px;
}
.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  padding-top: 9px;
}
.sections > a {
  text-decoration: none;
  font-family: main;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: white;
  cursor: pointer;
  transition: .2s;
}
.sections > a:hover {
  color: #E0E0E0;
  transition: .2s;
}
.circle {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #FF5C29;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 64px;
}
.wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 170px;
}
.wrapper > h1 {
  width: 100%;
  text-align: center;
}
.first_text {
  width: 100%;
  text-align: center;
  margin: 120px 0 0 0;
}
.wrapper > img {
  display: block;
  margin: 100px 0 0 0;
}
.first_container {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px 0 0 0;
}
.second_text {
  width: 100%;
  text-align: center;
  margin: 100px 0 0 0;
}
.flowers {
  position: absolute;
  top: 80px;
  left: 1%;
  width: 97%;
  height: 1500px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flowers1 {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flowers2 {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.second {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}
.plan {
  display: block;
  margin: 0 0 0 -50px;
  width: 766px;
  height: 670px;
  background: url(../images/outer.png);
}
.inner {
  background: url(../images/inner.png);
}
.switch {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.switch > h1 {
  margin: 100px 50px 0 0;
  text-align: center;
}
.checkbox input {
  display: none;
}
.checkbox {
  position: relative;
  cursor: pointer;
  margin: 67px 160px 0 0;
}
.checkbox::before {
  content: '';
  width: 104px;
  height: 48px;
  border-radius: 34px;
  background-color: #FF5C29;
  position: absolute;
}
.checkbox::after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FFE042;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: all .3s ease 0s;
}
.checkbox.active::after {
  left: 60px;
}
.tablo_content {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all .5s;
}
.info {
  opacity: 1;
}
.title {
  display: flex;
  margin: 40px 0 0 20px;
  width: 97%;
  justify-content: space-between;
  align-items: center;
}
.map {
  position: relative;
  width: 100%;
  height: 700px;
}
.cabinet {
  background: url(../images/cabinet.png);
  display: block;
  position: absolute;
  width: 460px;
  height: 202px;
  top: 10px;
  right: 263px;
  transition: .2s;
}
.cabinet:hover {
  background: url(../images/cabinet_bw.png);
  transition: .2s;
}
.canteen {
  background: url(../images/canteen.png);
  display: block;
  position: absolute;
  width: 450px;
  height: 329px;
  top: 0px;
  right: 616px;
  z-index: 1;
  transition: .2s;
}
.canteen:hover {
  background: url(../images/canteen_bw.png);
  transition: .2s;
}
.rest {
  background: url(../images/rest.png);
  display: block;
  position: absolute;
  width: 395px;
  height: 469px;
  top: 70px;
  left: 90px;
  transition: .2s;
}
.rest:hover {
  background: url(../images/rest_bw.png);
  transition: .2s;
}
.lecture {
  background: url(../images/lecture.png);
  display: block;
  position: absolute;
  width: 417px;
  height: 178px;
  top: 300px;
  left: 530px;
  transition: .2s;
}
.lecture:hover {
  background: url(../images/lecture_bw.png);
  transition: .2s;
}
.reseption {
  background: url(../images/reseption.png);
  display: block;
  position: absolute;
  top: 400px;
  left: 390px;
  width: 398px;
  height: 263px;
  transition: .2s;
}
.reseption:hover {
  background: url(../images/reseption_bw.png);
  transition: .2s;
}
.tablo {
  position: absolute;
  width: 321px;
  height: 410px;
  top: 220px;
  right: 100px;
  background: #FF5C29;
  border-radius: 30px;
}
.tablo_content > h2 {
  margin: 60px 0 0 0;
  line-height: 35px;
}
.tablo_content > div {
  width: 100%;
  text-align: center;
  margin: 20px 0 20px 0;
}
.tablo_content > p {
  margin: 0 20px 0 20px;
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}
.fourth {
  position: relative;
  width: 100%;
  background: #FF5C29;
}
.fourth > h1 {
  text-align: center;
  padding: 50px 0 30px 0;
}
.custom-picker {
  display: block;
  position: static;
  margin: 0 auto;
  width: 20em;
  height: 454px;
  background-color: #FF5C29;
  box-shadow: none;
}
.pcr-app[data-theme=monolith] {
  width: 1299px;
}
.pcr-last-color {
  display: none;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-current-color, .pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-last-color {
  width: 100%;
}
.pcr-button {
  background: none;
  display: none;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview {
  width: 358px;
  height: 406px;
  margin-bottom: 0;
  border-radius: 0;
  display: block;
  z-index: 5;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-palette {
  width: 943px;
  height: 406px;
  margin: -406px 0 0 358px;
}
.pcr-app .pcr-swatches {
  display: none;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-chooser, .pcr-app[data-theme=monolith] .pcr-selection .pcr-color-opacity {
  margin-top: -13px;
  height: 29px;
  width: 1301px;
  z-index: 6;
  border-radius: 25px;
  border: 4px solid #FFE042;
}
.pcr-app .pcr-interaction .pcr-result {
  border: none;
  color: #FFE143;
  font-family: main;
  font-size: 24px;
  background-color: #FF5C29;
  letter-spacing: 0;
  margin: 5px;
  height: 30px;
}
.pcr-app .pcr-selection .pcr-picker {
  height: 43px;
  width: 43px;
  border: 4px solid #FFE042;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview:before {
  border-radius: 25px;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-preview .pcr-current-color {
  border-radius: 25px 0 0 0;
  border: 4px solid #FFE042;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-palette .pcr-palette {
  border-radius: 0 25px 0 0;
  border: 4px solid #FFE042;
  border-left: none;
}
.pcr-app[data-theme=monolith] .pcr-selection .pcr-color-palette .pcr-palette:before {
  border-radius: 25px;
}
.registration_stars {
  position: absolute;
  display: flex;
  width: 75%;
  justify-content: space-between;
  left: 13%;
  top: 730px;
}
.f_logo {
  font-family: Colorist;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFE143;
  margin: 0 0 0 40px;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 25px auto;
  margin-bottom: auto;
}
.contacts, .nets, .author {
  font-family: main;
  font-size: 24px;
  line-height: 34px;
  color: #FFE143;
  margin-bottom: 30px;
}
.data {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

/* О ПРОСТРАНСТВЕ */
.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}
.slider_item {
  text-align: center;
}
.slider_item img {
  width: 100%;
}
.slider_about {
  margin-top: 60px;
}
.slider_about .slick-arrow {
  top: 0;
  position: absolute;
  z-index: 10;
  font-size: 0;
}
.slider_about .slick-arrow.slick-prev {
  top: 80px;
  left: 0;
  width: 50vw;
  height: 650px;
  background: none;
  border: none;
  cursor: url(../images/cursor_left.svg), auto;
}
.slider_about .slick-arrow.slick-next {
  margin: 80px;
  right: 0;
  width: 50vw;
  height: 650px;
  background: none;
  border: none;
  cursor: url(../images/cursor_right.svg), auto;
}

.about_book {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 30px 0 -10px 35px;
}
.book {
  width: 100%;
}
.book img {
  margin-left: 480px;
}
.book a {
  text-decoration: none;
  font-family: main_b;
  display: block;
  width: 423px;
  height: 68px;
  font-size: 28px;
  background: #FFE143;
  color: #FF5C29;
  border-radius: 34px;
  transition: .2s;
  text-align: center;
  cursor: pointer;
  padding: 16px;
  line-height: 34px;
  margin: 50px auto;
}
.book a:hover {
  background: #75B8FF;
}
/* МАГАЗИН МЕРЧА */
.title_shop {
  display: flex;
  margin: 80px 0 0 20px;
  width: 97%;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-family: main;
  font-size: 24px;
  color: #FFE042;
  text-align: center;
  background: #FF5C29;
  width: 254px;
  height: 56px;
  border-radius: 34px;
  line-height: 29px;
  padding: 13px;
  cursor: pointer;
  transition: .2s;
}
.price:hover {
  background: #CF69FF;
  transition: .2s;
}
.item_raw {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 445px;
}
.shop_raw {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.shop_items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2000px;
  width: 100%;
  align-items: center;
}
.price1 {
  margin: 20px;
}
.price2 {
  margin: 60px;
}
.price3 {
  margin: 101px;
}
.price4 {
  margin: 50px;
}
.price5 {
  margin: 82px;
}
.raw1 {
  margin: 20px;
}
.raw2 {
  margin: 100px;
}
.raw3 {
  margin: -40px;
}
/* ОНЛАЙН-ЦЕНТР */
.title_centre > h1 {
  text-align: center;
  margin: 110px 0 0 0;
}
.star_centre {
  position: absolute;
  top: 90px;
  display: flex;
  justify-content: space-between;
  width: 97%;
  left: 1.5%;
}
.figures_centre {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;

}
.games {
  font-family: main_b;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.shop_link {
  text-decoration: none;
  color: #FF5C29;
  background:  #75B8FF;
  border-radius: 34px;
  width: 453px;
  height: 56px;
  margin: 12px;
  padding: 10px;
  transition: .2s;
}
.shop_link:hover {
  background:  #FFE042;
  transition: .2s;
}
.marks_link {
  text-decoration: none;
  color: #CF69FF;
  background:  #FF5C29;
  border-radius: 34px;
  width: 453px;
  height: 56px;
  background: #FFE042;
  margin: 12px;
  padding: 10px;
  transition: .2s;
}
.marks_link:hover {
  background:  #75B8FF;
  transition: .2s;
}
.machine_link {
  text-decoration: none;
  color: #FFE042;
  background:  #FF5C29;
  border-radius: 34px;
  width: 453px;
  height: 56px;
  margin-top: 12px;
  padding: 10px;
  transition: .2s;
}
.machine_link:hover {
  background: #75B8FF;
  transition: .2s;
}

/* МАГАЗИН ОТТЕНКОВ */
.shelves {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  height: 100%;
}
.shelf {
  position: relative;
  width: 100%;
  height: 131px;
}
.shelf1 {
  background: #CF69FF;
  margin: 0 auto;
}
.shelf2 {
  background: #FF5C29;
}
.shelf3 {
  background: #75B8FF;
}
.shelf4 {
  background: #FFE042;
}
.shelf5 {
  background: #FF5C29;
}
.ball {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #FFE042;
}
.balls {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.ball1 {
  margin-left: 15%;
}
.ball4 {
  margin-left: 20%;
  background: #75B8FF;
}
.ball5 {
  background: #FF5C29;
}
.ball6 {
  background: #75B8FF;
}
.balls2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.ball7 {
  background: #CF69FF;
}
.ball8 {
  background: #CF69FF;
  margin-left: 25%;
}
.ball9 {
  background: #CF69FF;
}
.ball10 {
  background: #75B8FF;
}
.ball11 {
  background: #75B8FF;
}
.ball12 {
  margin-left: 20%
}
.ball13 {
  background: #FF5C29;
  margin-left: 20%;
}
.ball16 {
  margin-left: 30%;
}
.ball17 {
  background: #FF5C29;
}
.ball18 {
  background: #FF5C29;
  margin-left: 6%;
}
.ball19 {
  background: #75B8FF;
  margin-left: 40%;
}
.ball20 {
  background: #FF5C29;
}
.ball21 {
  background: #CF69FF;
}
.ball22 {
  background: #CF69FF;
}
.ball23 {
  margin-left: 25%;
}
.ball24 {
  background: #CF69FF;
}
.ball25 {
  background: #CF69FF;
}
.ball26 {
  background:  #75B8FF;
}

/* КАСТОМИЗАЦИЯ */
.automat {
  position: absolute;
  width: 549px;
  height: 600px;
  background: #FF5C29;
  border: 4px solid #FFE042;
  top: 90px;
  right: 150px;
}
.automatp {
  font-family: main_b;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFE143;
  margin: 30px;
}
.rgb-slider {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
input[type="range"]{
  -webkit-appearance: none;
  width: 443px;
  height: 38px;
  border: 4px solid #FFE042;
  border-radius: 34px;
  margin: 10px auto;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 51px;
  height: 51px;
  border: 4px solid #FFE042;
  border-radius: 50%;
  cursor: pointer;
}
.r {
  background: #EF2929;
}
.g {
  background: #00DF16;
}
.b {
  background: #75B8FF;
}
.r::-webkit-slider-thumb {
  background: #EF2929;
}
.g::-webkit-slider-thumb {
  background: #00DF16;
}
.b::-webkit-slider-thumb {
  background: #75B8FF;
}
input.rgb-val {
  border: 4px solid #FFE042;
  width: 444px;
  height: 56px;
  margin-top: 100px;
}
.settings_buy {
  font-family: main_b;
  color: #FF5C29;
  width: 443px;
  height: 56px;
  background: #FFE042;
  border-radius: 34px;
  text-align: center;
  padding-top: 9px;
  margin: 20px auto;
  cursor: pointer;
  transition: .2s;
}
.settings_buy:hover {
  background: #75B8FF;
  transition: .2s;
}
.show-color {
  position: absolute;
  top: 90px;
  left: 170px;
  width: 420px;
  height: 420px;
  background: #FF5C29;
  border: 4px solid #FFE042;
  border-radius: 50%;
}
.variant {
  width: 109px;
  height: 109px;
  border: 4px solid #FFE042;
  border-radius: 50%;
}
.variants {
  position: absolute;
  top: 580px;
  left: 110px;
  display: flex;
  width: 35%;
  justify-content: space-between;
  cursor: pointer;
}
.variant2 {
  background: #FF5C29;
}
.variant3 {
  background: #CF69FF;
}
.variant4 {
  background: #FFE042;
  border: 4px solid #CF69FF;
}

  /* ОЦЕНКА НАСТРОЕК */
.marks_title {
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  margin: 70px 0 0 30px;
}
.first_background {
  width: 1359px;
  height: 470px;
  background: #FFFFFF;
  border: 5px solid #FF5C29;
  border-radius: 47px;
  margin: 0 auto;
  margin-top: 30px;
}
.first_background > hr {
  margin-top: 226px;
  left: 750px;
  width: 465px;
  border: none;
  border-top: 5px solid #FF5C29;
  transform: rotate(90deg);
}
.ulybas {
  width: 188px;
  margin: -200px 0 0 60px;
}
.ulybas img {
  margin: 12px;
  cursor: pointer;
}
.zlykas1 {
  width: 100px;
  margin: -400px 0 0 300px;
}
.zlykas2 {
  width: 100px;
  margin: -408px 0 0 450px;
}
.zlykas1 img {
  margin: 17px;
  cursor: pointer;
}
.zlykas2 img {
  margin: 17px;
  cursor: pointer;
}
.colors_liked {
  margin: -465px 0 0 1310px;
}
.color {
  width: 99px;
  height: 99px;
  background: #FFE042;
  border: 5px solid #FF5C29;
  border-radius: 50%;
  margin: 13px
}
.purple {
  background: #CF69FF;
  border: 5px solid #FF5C29;
}
.red {
  background: #FF5C29;
  border: 5px solid #FFE042;
}
.blue {
  background: #75B8FF;
  border: 5px solid #FF5C29;
}
.calendar {
  margin: 10px auto 20px;
  display: block;
}
.second_background {
  width: 1359px;
  height: 239px;
  background: #FFFFFF;
  border: 5px solid #FF5C29;
  border-radius: 47px;
  margin: -20px auto 160px;
}
.kruglis {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  margin: 18px 0 0 30px;
  cursor: pointer;
}
.kruglis p{
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background: #FF5C29;
}
.kruglis p:nth-child(2) {
  background: #FFE042;
}
.kruglis p:nth-child(3) {
  background: #75B8FF;
}
.kruglis p:nth-child(4) {
  background: #CF69FF;
}
.curlys {
  display: flex;
  flex-direction: column;
  margin: -205px 0 0 500px;
  cursor: pointer;
}
.curlys img {
  margin: -25px
}
.ab1 {
  display: flex;
  flex-direction: column;
  margin: -210px 0 0 620px;
}
.ab1 img {
  margin: -2px;
  cursor: pointer;
}
.ab2 {
  display: flex;
  flex-direction: column;
  margin: -230px 0 0 710px;
}
.ab2 img {
  margin: -2px;
  cursor: pointer;
}
.ab3 {
  display: flex;
  flex-direction: column;
  margin: -230px 0 0 800px;
}
.ab3 img {
  margin: -2px;
  cursor: pointer;
}
.ab4 {
  display: flex;
  flex-direction: column;
  margin: -225px 0 0 890px;
}
.ab4 img {
  margin: -2px;
  cursor: pointer;
}
.mini_kruglis1 {
  display: flex;
  flex-direction: column;
  margin: -231px 0 0 1020px;
  cursor: pointer;
}
.mini_kruglis1 p {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #FF5C29;
  margin: 5px;
}
.mini_kruglis2 {
  display: flex;
  flex-direction: column;
  margin: -225px 0 0 1070px;
  cursor: pointer;
}
.mini_kruglis2 p {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #FF5C29;
  margin: 5px;
}
.mini_kruglis3 {
  display: flex;
  flex-direction: column;
  margin: -224px 0 0 1135px;
  cursor: pointer;
}
.mini_kruglis3 p {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #CF69FF;
  margin: 4px;
}
.mini_kruglis4 {
  display: flex;
  flex-direction: column;
  margin: -224px 0 0 1165px;
  cursor: pointer;
}
.mini_kruglis4 p {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #CF69FF;
  margin: 4px;
}
.mini_kruglis5 {
  display: flex;
  flex-direction: column;
  margin: -224px 0 0 1210px;
  cursor: pointer;
}
.mini_kruglis5 p {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #75B8FF;
  margin: 7px;
}
.mini_kruglis6 {
  display: flex;
  flex-direction: column;
  margin: -224px 0 0 1260px;
  cursor: pointer;
}
.mini_kruglis6 p {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #75B8FF;
  margin: 7px;
}
.therapy {
  font-family: main_b;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFE143;
  background: #FF5C29;
  width: 443px;
  height: 68px;
  border-radius: 34px;
  padding-top: 18px;
  margin: 60px auto 200px;
  cursor: pointer;
  transition: .2s;
}
.therapy:hover {
  background: #75B8FF;
  transition: .2s;
}

/* СПЕЦПРОЕКТ */

.project_figures {
  margin: 80px auto;
  margin-bottom: 50px;
}
.project_title h1 {
  text-align: center;
}
.project_title img {
  margin-top: 60px;
}
.project_title {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-left: 40px;
}
.ideology {
  text-align: center;
  margin-top: 80px;
}
.carousel1 {
  margin: 60px 0;
}
.carousel2 {
  margin: 60px 0;
}
.carousel3 {
  margin: 60px 0;
}
.calibrovka {
  text-decoration: none;
  font-family: main_b;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FF5C29;
  width: 423px;
  height: 68px;
  background: #FFE042;
  border-radius: 34px;
  padding-top: 18px;
  margin: 40px auto;
  cursor: pointer;
  transition: .2s;
}
.calibrovka a {
  text-decoration: none;
  color: #FF5C29;
}
.calibrovka:hover {
  background: #75B8FF;
  transition: .2s;
}
